<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <mirrors>
    <mirror>
      <id>pentaho.resolve.repo</id>
      <url>${env.PRIMARY_REPO_URL}</url>
      <mirrorOf>!plugins,*</mirrorOf>
    </mirror>
    <mirror>
      <id>plugins.mirror</id>
      <url>${env.OMNIBUS_REPO_URL}</url>
      <mirrorOf>plugins</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>pentaho-repos-profile</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>central</id>
          <name>Primary Repo</name>
          <url>http://nexus.pentaho.org/content/groups/omni</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
            <checksumPolicy/>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
            <checksumPolicy/>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>plugins</id>
          <name>Plugin Repo</name>
          <url>https://repo1.maven.org/maven2</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

</settings>
